<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="wodeltest.run.wodelTestSUTBuilder"
         name="Wodel Test SUT Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="wodeltest.run.sut.builder.WodelTestSUTBuilder">
         </run>
      </builder>
   </extension>
	<extension
     id="wodeltest.run.wodelTestSUTNature"
     point="org.eclipse.core.resources.natures">
  <runtime>
     <run
           class="wodeltest.run.sut.builder.WodelTestSUTNature">
     </run>
  </runtime>
  </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="wodeltest.run.commands.RunWodelTestUpdateSiteGenerator"
            id="wodeltest.run.commands.wodelTestGenerateUpdateSite"
            name="Generate Wodel-Test update-site">
      </command>
      <command
      		defaultHandler="wodeltest.run.commands.LoadRunWodelTestHandler"
            id="wodeltest.run.commands.wodelTestCommandLoad"
            name="Load Projects and Run Wodel-Test">
      </command>
      <command
      		defaultHandler="wodeltest.run.commands.RunWodelTestHandler"
            id="wodeltest.run.commands.wodelTestCommandRun"
            name="Run Wodel-Test">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodel4.jpg"
               id="WodelTest.menu1"
               label="Wodel-Test...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="wodeltest.run.commands.wodelTestCommandLoad"
                  icon="icons/wodel4.jpg"
                  label="Load Projects and Run Wodel-Test"
                  style="push">
               <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
                        <adapt type="org.eclipse.core.resources.IResource">
                        	<test
                        		property="org.eclipse.core.resources.projectNature"
                        		value="wodeltest.extension.wodelTestNature">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="wodeltest.run.commands.wodelTestCommandRun"
                  icon="icons/wodel4.jpg"
                  label="Run Wodel-Test"
                  style="push">
               <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
                        <adapt type="org.eclipse.core.resources.IResource">
                        	<test
                        		property="org.eclipse.core.resources.projectNature"
                        		value="wodeltest.extension.wodelTestSUTNature">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="wodeltest.run.commands.wodelTestGenerateUpdateSite"
                  icon="icons/wodel4.jpg"
                  label="Generate Wodel-Test update-site"
                  style="push">
               <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
                        <adapt type="org.eclipse.core.resources.IResource">
                        	<test
                        		property="org.eclipse.core.resources.projectNature"
                        		value="wodeltest.extension.wodelTestNature">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="wodeltest.run.views"
            name="Wodel-Test">
      </category>
      <view
            name="Global graphical results"
            icon="icons/wodel4.jpg"
            category="wodeltest.run.views"
            class="wodeltest.run.views.WodelTestGlobalGraphicalResultsViewPart"
            id="wodeltest.run.views.WodelTestGlobalGraphicalResultsViewPart">
      </view>
      <view
            name="Mutant results"
            icon="icons/wodel4.jpg"
            category="wodeltest.run.views"
            class="wodeltest.run.views.WodelTestClassResultsViewPart"
            id="wodeltest.run.views.WodelTestClassResultsViewPart">
      </view>
      <view
            name="Test results"
            icon="icons/wodel4.jpg"
            category="wodeltest.run.views"
            class="wodeltest.run.views.WodelTestResultsTestViewPart"
            id="wodeltest.run.views.WodelTestResultsTestViewPart">
      </view>
      <view
            name="Mutation operator results"
            icon="icons/wodel4.jpg"
            category="wodeltest.run.views"
            class="wodeltest.run.views.WodelTestMutatorResultsViewPart"
            id="wodeltest.run.views.WodelTestMutatorResultsViewPart">
      </view>
   </extension>
   <extension
	  point="org.eclipse.ui.preferencePages">
      <page
           class="wodeltest.run.preferences.WodelTestPreferencePage"
           id="wodeltest.WodelTest"
           name="Wodel-Test">
           <keywordReference id="wodel.dsls.ui.keyword_Wodel"/>
      </page>
   </extension>
   
   	<extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="wodeltest.run.commands.CleanUpWodelTestOutputFolder"
            id="wodeltest.run.commands.CleanUpWodelTestOutputFolder"
            name="Wodel-Test output folder clean-up">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodel4.jpg"
               id="WodelTest.menu1"
               label="Wodel-Test...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="wodeltest.run.commands.CleanUpWodelTestOutputFolder"
                  icon="icons/wodel4.jpg"
                  label="Wodel-Test clean-up output folder"
                  style="push">
            <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
 						<adapt type="org.eclipse.core.resources.IResource">
                        	<test
                               property="org.eclipse.core.resources.projectNature"
                               value="wodeltest.extension.wodelTestSUTNature">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="wodeltest.run.commands.WodelTestHtmlReportExporter"
            id="wodeltest.run.commands.wodelTestHtmlReportExporter"
            name="Wodel-Test html report">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodel4.jpg"
               id="WodelTest.menu1"
               label="Wodel-Test...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="wodeltest.run.commands.wodelTestHtmlReportExporter"
                  icon="icons/wodel4.jpg"
                  label="Wodel-Test html report"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="wodeltest.extension.wodelTestSUTNature">
                           </test>
                        </adapt>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   

</plugin>
