<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mutatorenvironment -->
      <package
            uri="http://mutatorenvironment/1.0"
            class="mutatorenvironment.MutatorenvironmentPackage"
            genModel="model/MutatorEnvironment.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mutatorenvironment -->
      <package
            uri="http://www.ac.uk/york/cs/miniocl/MiniOCLCS"
            class="mutatorenvironment.miniOCL.MiniOCLPackage"
            genModel="model/MutatorEnvironment.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mutatormetrics -->
      <package
            uri="http://mutatormetrics/1.0"
            class="mutatormetrics.MutatormetricsPackage"
            genModel="model/MutatorMetrics.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated appliedmutations -->
      <package
            uri="http://appliedMutations/1.0"
            class="appliedMutations.AppliedMutationsPackage"
            genModel="model/AppliedMutations.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated asple -->
      <package
            uri="http://asple/1.0"
            class="asple.AsplePackage"
            genModel="model/ASPLE.genmodel"/>
   </extension>

</plugin>
