<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="wodel.extension.MutApplication">
      <generator
            class="wodeledu.extension.run.Generator">
      </generator>
   </extension>
   <extension
         id="wodeledu.extension.wodelEduBuilder"
         name="Wodel-Edu Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="wodeledu.extension.builder.WodelEduBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="wodeledu.extension.wodelEduNature"
         name="Wodel-Edu Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="wodeledu.extension.builder.WodelEduNature">
         </run>
      </runtime>
      <builder
            id="wodel.project.wodelBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Wodel-Edu Project Nature commands"
            id="wodeledu.extension.addRemoveWodelEduNature">
      </category>
      <command
            name="Add/Remove Wodel-Edu Project Nature"
            defaultHandler="wodeledu.extension.builder.AddRemoveWodelEduNatureHandler"
            categoryId="wodeledu.extension.addRemoveWodelEduNature"
            id="wodeledu.extension.addRemoveWodelEduNature">
      </command>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="wodeledu.extension.addRemoveWodelEduNature"
               icon="icons/wodel4.jpg"
               label="Disable Wodel-Edu Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="wodeledu.extension.wodelEduNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="wodeledu.extension.addRemoveWodelEduNature"
               icon="icons/wodel4.jpg"
               label="Enable Wodel-Edu Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="wodeledu.extension.wodelEduNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
  <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="wodeledu.extension.run.commands.GenerateEduTestCode"
            id="wodeledu.extension.run.commands.GenerateEduTestCode"
            name="Generate eduTest code">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodeledu_edutest.jpg"
               id="WodelEdu.menu1"
               label="Wodel-Edu...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="wodeledu.extension.run.commands.GenerateEduTestCode"
                  icon="icons/wodeledu_edutest.jpg"
                  label="Generate eduTest code"
                  style="push">
            <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
 						<adapt type="org.eclipse.core.resources.IResource">
                        	<test
                               property="org.eclipse.core.resources.projectNature"
                               value="wodeledu.extension.wodelEduNature">
    						</test>
    						<test
                               property="org.eclipse.core.resources.name"
                               value="*.test">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
  <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="wodeledu.extension.run.commands.GenerateModelDrawCode"
            id="wodeledu.extension.run.commands.GenerateModelDrawCode"
            name="Generate eduTest code">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodeledu_modeldraw.jpg"
               id="WodelEdu.menu1"
               label="Wodel-Edu...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="wodeledu.extension.run.commands.GenerateModelDrawCode"
                  icon="icons/wodeledu_edutest.jpg"
                  label="Generate modelDraw code"
                  style="push">
            <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
 						<adapt type="org.eclipse.core.resources.IResource">
                        	<test
                               property="org.eclipse.core.resources.projectNature"
                               value="wodeledu.extension.wodelEduNature">
    						</test>
    						<test
                               property="org.eclipse.core.resources.name"
                               value="*.draw">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="wodeledu.extension.run.commands.WodelProject2WodelEduProject"
            id="wodeledu.extension.run.commands.convertToWodelEduProject"
            name="Convert to Wodel-Edu project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
        locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
        <command
            commandId="wodeledu.extension.run.commands.convertToWodelEduProject"
            icon="icons/wodel4.jpg"
            label="Convert to Wodel-Edu project"
            style="push">
          <visibleWhen
            checkEnabled="false">
            <with
              variable="activeMenuSelection">
              <iterate>
                <adapt type="org.eclipse.core.resources.IResource">
                  <test
                     property="org.eclipse.core.resources.projectNature"
                     value="wodel.project.wodelNature">
    			  </test>
                </adapt>
              </iterate>
              <count value="1">
              </count>
            </with>
          </visibleWhen>
        </command>
      </menuContribution>
   </extension>
-->
	<extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/wodel4.jpg"
            id="wodeledu.extension.wodelNatureImage"
            natureId="wodeledu.extension.wodelEduNature">
      </image>
   </extension>
</plugin>
