<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wodel.project.examples.wizards.AutomataWizard"
            icon="icons/wodel4.jpg"
            id="wodel.project.examples.wizards.AutomataWizard"
            name="Finite Automata (1)"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wodel.project.examples.wizards.AutomataWizard2"
            icon="icons/wodel4.jpg"
            id="wodel.project.examples.wizards.AutomataWizard2"
            name="Finite Automata (2)"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wodel.project.examples.wizards.SecurityPoliciesWizard"
            icon="icons/wodel4.jpg"
            id="wodel.project.examples.wizards.SecurityPoliciesWizard"
            name="Security Policies"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wodel.project.examples.wizards.PFSMWizard"
            icon="icons/wodel4.jpg"
            id="wodel.project.examples.wizards.PFSMWizard"
            name="Probabilistic Automata"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wodel.project.examples.wizards.UMLClassDiagramsWizard"
            icon="icons/wodel4.jpg"
            id="wodel.project.examples.wizards.UMLClassDiagramsWizard"
            name="UML Class Diagrams (1)"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wodel.project.examples.wizards.UMLCDWizard"
            icon="icons/wodel4.jpg"
            id="wodel.project.examples.wizards.UMLCDWizard"
            name="UML Class Diagrams (2)"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wodel.project.examples.wizards.AspleWizard"
            icon="icons/wodel4.jpg"
            id="wodel.project.examples.wizards.AspleWizard"
            name="ASPLE Language"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wodel.project.examples.wizards.BPELWizard"
            icon="icons/wodel4.jpg"
            id="wodel.project.examples.wizards.BPELWizard"
            name="BPEL"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wodel.project.examples.wizards.BPMNWizard"
            icon="icons/wodel4.jpg"
            id="wodel.project.examples.wizards.BPMNWizard"
            name="BPMN"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wodel.project.examples.wizards.ATLWizard"
            icon="icons/wodel4.jpg"
            id="wodel.project.examples.wizards.ATLWizard"
            name="ATL Atlas Transformation Language"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wodel.project.examples.wizards.ChatbotsWizard"
            icon="icons/wodel4.jpg"
            id="wodel.project.examples.wizards.ChatbotsWizard"
            name="Chatbots"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wodel.project.examples.wizards.JavaWizard"
            icon="icons/wodel4.jpg"
            id="wodel.project.examples.wizards.JavaWizard"
            name="Java Language"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wodel.project.examples.wizards.LogicCircuitsWizard"
            icon="icons/wodel4.jpg"
            id="wodel.project.examples.wizards.LogicCircuitsWizard"
            name="Logic Circuits"
            project="true">
      </wizard>
   </extension>
</plugin>
