#pretty-menu {
  margin: 0;
  padding: 0;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background-color: white;
}
#pretty-menu {
  width: 260px;
  height: 100%;
}
#pretty-menu ul {
  list-style: none;
  text-indent: 0px;
}
#pretty-menu li {
  margin-top: 3px;
}
#pretty-menu a {
  font: 22px Verdana;
  color: #646464;
  display: block;
  padding: 6px 20px;
  height: 24px;
  text-decoration: none;
  background: url('../images/background.gif') no-repeat right;
}
#pretty-menu a:hover {
  background: url('../images/highlight.gif') no-repeat left;
  padding: 6px 20px;
}
