<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated edutest -->
      <package
            uri="http://edutest/1.0"
            class="edutest.EdutestPackage"
            genModel="model/edutest.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modeldraw -->
      <package
            uri="http://modeldraw/1.0"
            class="modeldraw.ModeldrawPackage"
            genModel="model/modeldraw.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modeltext -->
      <package
            uri="http://modeltext/1.0"
            class="modeltext.ModeltextPackage"
            genModel="model/modeltext.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mutatext -->
      <package
            uri="http://mutatext/1.0"
            class="mutatext.MutatextPackage"
            genModel="model/mutatext.genmodel"/>
   </extension>

</plugin>
