<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Wodel"
            id="wodel.views">
      </category>
      <view
            name="Operator Static Footprint"
            icon="icons/wodel4.jpg"
            category="wodel.views"
            class="wodel.metrics.command.views.WodelMetricsCommandView"
            id="wodel.metrics.command.views.WodelMetricsCommandView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="wodel.metrics.command.views.WodelMetricsCommandView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension point="org.eclipse.ui.popupMenus"> 
	<viewerContribution 
      id="org.eclipse.ui.articles.action.contribution.popup.editor"
   	  targetID="#TextEditorContext"> 
   	<action
         id="wodel.metrics.command.views.WodelMetricsCommandView" 
         label="Operator Static Footprint"
         icon="icons/wodel4.jpg"
      	 menubarPath="additions" 
      	 class="wodel.metrics.command.views.WodelMetricsCommandView"> 
      </action> 
   </viewerContribution> 
   </extension>
</plugin>
