<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="wodel.project.wodelBuilder"
         name="Wodel Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="wodel.project.builder.WodelBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="wodel.project.wodelNature"
         name="Wodel Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="wodel.project.builder.WodelNature">
         </run>
      </runtime>
      <builder
            id="wodel.project.wodelBuilder">
      </builder>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="wodel.project.addRemoveWodelNature"
            name="Wodel Project Nature commands">
      </category>
      <command
            categoryId="wodel.project.addRemoveWodelNature"
            defaultHandler="wodel.project.builder.AddRemoveWodelNatureHandler"
            id="wodel.project.addRemoveWodelNature"
            name="Add/Remove Wodel Project Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="wodel.project.addRemoveWodelNature"
               icon="icons/wodel4.jpg"
               label="Disable Wodel Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="wodel.project.wodelNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="wodel.project.addRemoveWodelNature"
               label="Enable Wodel Nature"
               icon="icons/wodel4.jpg"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="wodel.project.wodelNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelProject"
            name="Wodel">
      </category>
      <wizard
            category="wodel.project.WodelProject"
            class="wodel.project.wizards.WodelWizard"
            icon="icons/wodel4.jpg"
            id="wodel.project.wizards.WodelWizard"
            name="New Wodel Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/wodel4.jpg"
            id="wodel.project.wodelNatureImage"
            natureId="wodel.project.wodelNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="wodel.dsls.Wodel"
            class="wodel.project.properties.WodelPropertiesPage"
            icon="icons/wodel4.jpg"
            id="wodel.project.properties.wodelPropertiesPage"
            name="Wodel">
            <enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
                <test property="org.eclipse.core.resources.projectNature" 
                      value="wodel.project.wodelNature"/>
            </adapt>  
			</enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Wodel"
            id="wodel.views">
      </category>
      <view
            category="wodel.views"
            class="wodel.views.ConsoleView"
            icon="icons/wodel4.jpg"
            id="wodel.views.ConsoleView"
            name="Console">
      </view>
	  <view
            category="wodel.views"
            class="wodel.views.ConsoleChatView"
            icon="icons/wodel4.jpg"
            id="wodel.views.ConsoleChatView"
            name="Chat">
      </view>   
   </extension>
</plugin>
