<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodeledu.extension.WodelEduExamples"
            name="Wodel-Edu"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodeledu.extension.WodelEduExamples"
            class="wodeledu.extension.examples.wizards.WodelEduAutomataWizard"
            icon="icons/wodel4.jpg"
            id="wodeledu.extension.examples.wizards.WodelEduAutomataWizard"
            name="Finite Automata"
            project="true">
      </wizard>
      <wizard
            category="wodel.project.WodelProject/wodeledu.extension.WodelEduExamples"
            class="wodeledu.extension.examples.wizards.WodelEduLogicCircuitsWizard"
            icon="icons/wodel4.jpg"
            id="wodeledu.extension.examples.wizards.WodelEduLogicCircuitsWizard"
            name="Logic Circuits"
            project="true">
      </wizard>
      <wizard
            category="wodel.project.WodelProject/wodeledu.extension.WodelEduExamples"
            class="wodeledu.extension.examples.wizards.WodelEduUMLCDWizard"
            icon="icons/wodel4.jpg"
            id="wodeledu.extension.examples.wizards.WodelEduUMLCDWizard"
            name="UML Class Diagrams"
            project="true">
      </wizard>
      <wizard
            category="wodel.project.WodelProject/wodeledu.extension.WodelEduExamples"
            class="wodeledu.extension.examples.wizards.WodelEduPythonWizard"
            icon="icons/wodel4.jpg"
            id="wodeledu.extension.examples.wizards.WodelEduPythonWizard"
            name="Python Programming"
            project="true">
      </wizard>
   </extension>
</plugin>
