<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="wodel.run.popup.actions.RunWodel"
            id="wodel.run.popup.actions.RunWodel"
            name="Execute Mutations">
      </command>
   </extension>
  <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="wodel.run.popup.actions.RunFordiacWodel"
            id="wodel.run.popup.actions.RunFordiacWodel"
            name="Execute 4diac Mutations">
      </command>
   </extension>
  <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="wodel.run.popup.actions.GenerateWodelMutantsWizard"
            id="wodel.run.popup.actions.GenerateWodelMutantsWizard"
            name="Mutants generation wizard...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodel4.jpg"
               id="Wodel.menu1"
               label="Wodel...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="wodel.run.popup.actions.RunFordiacWodel"
                  icon="icons/wodel4.jpg"
                  label="Execute 4diac Mutations"
                  style="push">
            <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
 						<adapt type="org.eclipse.core.resources.IResource">
                        	<test
                               property="org.eclipse.core.resources.projectNature"
                               value="wodel.project.wodelNature">
    						</test>
                        	<test
                               property="org.eclipse.core.resources.projectNature"
                               value="org.eclipse.fordiac.ide.systemmanagement.FordiacNature">
    						</test>
    						<test
                               property="org.eclipse.core.resources.name"
                               value="*.mutator">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
  <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="wodel.run.popup.actions.GenerateWodelMutationOperatorsWizard"
            id="wodel.run.popup.actions.GenerateWodelMutationOperatorsWizard"
            name="Mutation operator(s) generation wizard...">
      </command>
   </extension>
  <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="wodel.run.popup.actions.CleanUpWodelOutputFolder"
            id="wodel.run.popup.actions.CleanUpWodelOutputFolder"
            name="Wodel output folder clean-up">
      </command>
   </extension>
  <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="wodel.run.popup.actions.CleanUpWodelRegistry"
            id="wodel.run.popup.actions.CleanUpWodelRegistry"
            name="Wodel registry clean-up">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodel4.jpg"
               id="Wodel.menu1"
               label="Wodel...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="wodel.run.popup.actions.RunWodel"
                  icon="icons/wodel4.jpg"
                  label="Execute Mutations"
                  style="push">
            <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
 						<adapt type="org.eclipse.core.resources.IResource">
                        	<test
                               property="org.eclipse.core.resources.projectNature"
                               value="wodel.project.wodelNature">
    						</test>
    						<test
                               property="org.eclipse.core.resources.name"
                               value="*.mutator">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodel4.jpg"
               id="Wodel.menu1"
               label="Wodel...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="wodel.run.popup.actions.GenerateWodelMutantsWizard"
                  icon="icons/wodel4.jpg"
                  label="Mutants generation wizard"
                  style="push">
            <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
 						<adapt type="org.eclipse.core.resources.IResource">
                        	<test
                               property="org.eclipse.core.resources.projectNature"
                               value="wodel.project.wodelNature">
    						</test>
    						<test
                               property="org.eclipse.core.resources.name"
                               value="*.mutator">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodel4.jpg"
               id="Wodel.menu1"
               label="Wodel...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="wodel.run.popup.actions.GenerateWodelMutationOperatorsWizard"
                  icon="icons/wodel4.jpg"
                  label="Mutation operator(s) generation wizard"
                  style="push">
            <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
 						<adapt type="org.eclipse.core.resources.IResource">
                        	<test
                               property="org.eclipse.core.resources.projectNature"
                               value="wodel.project.wodelNature">
    						</test>
    						<test
                               property="org.eclipse.core.resources.name"
                               value="*.mutator">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodel4.jpg"
               id="Wodel.menu1"
               label="Wodel...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="wodel.run.popup.actions.CleanUpWodelOutputFolder"
                  icon="icons/wodel4.jpg"
                  label="Wodel clean-up output folder"
                  style="push">
            <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
 						<adapt type="org.eclipse.core.resources.IResource">
                        	<test
                               property="org.eclipse.core.resources.projectNature"
                               value="wodel.project.wodelNature">
    						</test>
    						<test
                               property="org.eclipse.core.resources.name"
                               value="*.mutator">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="wodel.run.popup.actions.CleanUpWodelRegistry"
            id="wodelCleanUpWodelRegistry"
            name="Clean Registry">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodel4.jpg"
               id="Wodel.menu1"
               label="Wodel...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="wodelCleanUpWodelRegistry"
                  icon="icons/wodel4.jpg"
                  label="Clean Registry"
                  style="push">
            <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
 						<adapt type="org.eclipse.core.resources.IResource">
                        	<test
                               property="org.eclipse.core.resources.projectNature"
                               value="wodel.project.wodelNature">
    						</test>
    						<test
                               property="org.eclipse.core.resources.name"
                               value="*.mutator">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
