<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <category
         id="wodeltest.extension.WodelTestExamples"
         name="Wodel-Test"
         parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodeltest.extension.WodelTestExamples"
            class="wodeltest.extension.examples.wizards.WodelTest4JavaWizard"
            icon="icons/wodel4.jpg"
            id="wodeltest.extension.examples.WodelTest4Java"
            name="Java"
            project="true">
      </wizard>
      <wizard
            category="wodel.project.WodelProject/wodeltest.extension.WodelTestExamples"
            class="wodeltest.extension.examples.wizards.WodelTest4ATLWizard"
            icon="icons/wodel4.jpg"
            id="wodeltest.extension.examples.WodelTest4ATL"
            name="ATL"
            project="true">
      </wizard>
      <wizard
            category="wodel.project.WodelProject/wodeltest.extension.WodelTestExamples"
            class="wodeltest.extension.examples.wizards.WodelTest4FAWizard"
            icon="icons/wodel4.jpg"
            id="wodeltest.extension.examples.WodelTest4FA"
            name="FA"
            project="true">
      </wizard>
      <wizard
            category="wodel.project.WodelProject/wodeltest.extension.WodelTestExamples"
            class="wodeltest.extension.examples.wizards.WodelTest4LCWizard"
            icon="icons/wodel4.jpg"
            id="wodeltest.extension.examples.WodelTest4LC"
            name="LC"
            project="true">
      </wizard>
      <wizard
            category="wodel.project.WodelProject/wodeltest.extension.WodelTestExamples"
            class="wodeltest.extension.examples.wizards.WodelTest4ChatbotsWizard"
            icon="icons/wodel4.jpg"
            id="wodeltest.extension.examples.WodelTest4Chatbots"
            name="Chatbots"
            project="true">
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <category
         id="wodeltest.extension.WodelTestProjectExamplesUpdatesiteGenerators"
         name="Wodel-Test update-sites"
         parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodeltest.extension.WodelTestProjectExamplesUpdatesiteGenerators"
            class="wodeltest.extension.examples.wizards.generators.updatesite.WodelTest4JavaUpdateSiteWizard"
            icon="icons/wodel4.jpg"
            id="wodeltest.extension.examples.wizards.generators.updatesite.WodelTest4JavaUpdateSiteWizard"
            name="Wodel-Test for Java"
            project="true">
      </wizard>
      <wizard
            category="wodel.project.WodelProject/wodeltest.extension.WodelTestProjectExamplesUpdatesiteGenerators"
            class="wodeltest.extension.examples.wizards.generators.updatesite.WodelTest4ATLUpdateSiteWizard"
            icon="icons/wodel4.jpg"
            id="wodeltest.extension.examples.wizards.generators.updatesite.WodelTest4ATLUpdateSiteWizard"
            name="Wodel-Test for ATL"
            project="true">
      </wizard>
      <wizard
            category="wodel.project.WodelProject/wodeltest.extension.WodelTestProjectExamplesUpdatesiteGenerators"
            class="wodeltest.extension.examples.wizards.generators.updatesite.WodelTest4FAUpdateSiteWizard"
            icon="icons/wodel4.jpg"
            id="wodeltest.extension.examples.wizards.generators.updatesite.WodelTest4FAUpdateSiteWizard"
            name="Wodel-Test for FA"
            project="true">
      </wizard>
      <wizard
            category="wodel.project.WodelProject/wodeltest.extension.WodelTestProjectExamplesUpdatesiteGenerators"
            class="wodeltest.extension.examples.wizards.generators.updatesite.WodelTest4LCUpdateSiteWizard"
            icon="icons/wodel4.jpg"
            id="wodeltest.extension.examples.wizards.generators.updatesite.WodelTest4LCUpdateSiteWizard"
            name="Wodel-Test for LC"
            project="true">
      </wizard>
      <wizard
            category="wodel.project.WodelProject/wodeltest.extension.WodelTestProjectExamplesUpdatesiteGenerators"
            class="wodeltest.extension.examples.wizards.generators.updatesite.WodelTest4ChatbotsUpdateSiteWizard"
            icon="icons/wodel4.jpg"
            id="wodeltest.extension.examples.wizards.generators.updatesite.WodelTest4ChatbotsUpdateSiteWizard"
            name="Wodel-Test for Chatbots"
            project="true">
      </wizard>
   </extension>
</plugin>
