<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="wodel.synthesizer.popup.actions.GenerateWodel"
            id="wodelGenerateWodel"
            name="Generate seed models">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodel4.jpg"
               id="Wodel.menu1"
               label="Wodel...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="wodelGenerateWodel"
                  icon="icons/wodel4.jpg"
                  label="Generate Seed Models"
                  style="push">
            <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
 						<adapt type="org.eclipse.core.resources.IResource">
                        	<test
                               property="org.eclipse.core.resources.projectNature"
                               value="wodel.project.wodelNature">
    						</test>
    						<test
                               property="org.eclipse.core.resources.name"
                               value="*.mutator">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
